.grey-bg {
    background-color: rgb(182, 179, 178);
}

.orange-bg {
    background-color: rgb(240, 188, 75);
}

.green-bg {
    background-color: rgb(36, 182, 68);
}

.blue-bg {
    background-color: rgb(99, 156, 221);
}