.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: auto;
    max-width: 700px;
}

.grid-item1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.grid-item2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.grid-item3 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.grid-item4 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.grid-item5 {
    grid-row: 3 / span 1;
    grid-column: 1 / span ;
}

.borders {
    border: 5px solid black;
}